@use "@styles/mixins" as *;

.ui-button {
	display: grid;
    grid-auto-flow: column;
	align-items: center;
	justify-content: center;
    gap: 8px;
    padding: 0 14px;
    background-color: $color-accent;
    border: none;
    border-radius: $radius-xs;
    box-shadow: none;
	width: fit-content;
	height: $button-height;
    position: relative;
	font-weight: 500;
    font-size: 16px;
	line-height: 1.25;
	text-align: center;
	color: $color-white;
    text-decoration: none;
	transition: $duration background-color, $duration color, $duration border-color;
	user-select: none;
	cursor: pointer;

    &__icon {
        position: relative;

        svg {
            &:not(.ui-icon--stroke) {
                fill: currentColor;
            }
        }
    }

    &__icon,
    &__svg {
        svg {
            display: block;

            &:not(.ui-icon--sm) {
                width: $icon-size;
                height: $icon-size;
            }
        }
    }

    &__svg {
        path[fill] {
            fill: currentColor;
        }
        path[stroke] {
            stroke: currentColor;
        }
    }

    &--text-first &__text {
        order: -1;
    }

    &__amount {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -15px;
        right: -8px;
        background-color: #F83B1B;
        border-radius: 30px;
        padding: 0 9px;
        min-width: 30px;
        text-align: center;
        line-height: 30px;
        font-family: $onest-font-family;
        font-weight: 700;
        font-size: 14px;
        color: $color-white;

        @include media-min(mob) {
            top: -8px;
            right: -5px;
            font-size: 16px;
        }
    }

	&--fill {
		width: 100%;
	}

	&--center {
		margin-right: auto;
		margin-left: auto;
	}

	&:hover,
    &:focus-visible {
        background-color: $color-accent-hover;
        color: $color-white;
        text-decoration: none;
    }

    &:focus {
        outline-color: transparent;
        color: $color-white;
    }

	&:focus-visible {
		outline-color: $color-accent-hover;
        outline-offset: 2px;
	}

    &--lg {
        height: $button-height-lg;
        font-size: 14px;
        font-weight: 700;

        @include media-min(mob) {
            min-width: 283px;
        }
    }

    &--second {
        background-color: $color-white;
        color: $color-accent;

        &:hover,
        &:focus-visible {
            background-color: $color-second;
            color: $color-accent;
        }

        &:focus {
            outline-color: transparent;
            color: $color-accent-hover;
        }
    }

    &--outline {
        background-color: transparent;
        border: $color-white 1px solid;
        color: $color-white;

        &:hover,
        &:focus-visible {
            background-color: $color-second;
            color: $color-accent;
        }
    }

    &--link {
        border: none;
        background-color: transparent;
        padding: 0;
        height: auto;
		color: $color-accent;

        &:hover {
            background-color: transparent;
            color: $color-accent-hover;
        }
    }

    &:disabled,
    &.is-disabled {
        background-color: $color-disabled;
        background: $color-disabled;
        color: $color-grey-light;
        cursor: default;
        pointer-events: none;
    }
}


