@use "@styles/mixins" as *;

/* ------- tab-menu -------- */
.tab-menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @include media-min(mob) {
            gap: 10px;
        }

        @include media(mob-md) {
            &:not(.button-group) {
                flex-wrap: nowrap;
                overflow: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                margin-right: calc($gutters * -1);
                margin-left: calc($gutters * -1);
                padding-left: $gutters;
                padding-right: $gutters;
                white-space: nowrap;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &--wide {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 10px;
        border-radius: 8px;
        border: $color-accent 1px solid;
        background-color: $color-white;
        font-size: 12px;
        //font-weight: 700;
        line-height: 1.5;
        text-decoration: none;
        text-align: center;
        color: $color-accent;
        font-weight: 900;
        transition: $duration color, $duration background;

        &:hover {
           color: $color-accent-hover;
        }

        &:focus-visible {
            outline: 2px solid $color-accent;
            outline-offset: -4px;
        }

        &.is-active {
            background-color: $color-accent;
            color: $color-white;

            &:focus-visible {
                outline-color: $color-white;
            }
        }

        @include media-min(mob-md) {
        }

        @include media-min(mob) {
            padding: 11px 10px;
            font-size: 14px;
            line-height: 1.43;
        }
    }
}
