@use "@styles/mixins" as *;

.out {
    padding-top: $space;
    padding-bottom: $space;
    background-color: $base-background;
    border-top: #e4e4e4 1px solid;
    border-bottom: #e4e4e4 1px solid;
    margin-top: -1px;
    margin-bottom: -1px;
    overflow: hidden;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $text-size;
    line-height: $base-line-height;
    color: $color-base;
    position: relative;

    @include media-min(pc) {
        min-height: calc(var(--dvh, 1%) * 100 - 60px - 95px);
    }

    &--gradient {
        &:before,
        &:after {
            content: "";
            display: block;
            width: 791px;
            height: 810px;
            position: absolute;
            border-radius: 50%;
            filter: blur(518px);

            @include media(mob) {
                display: none;
            }
        }

        &:before {
            left: 0;
            top: 50%;
            background-color: #DAD4FF;
            transform: translateY(-50%);
        }

        &:after {
            right: 0;
            bottom: 0;
            background-color: #D4F5FF;
        }
    }

    &__container {
        position: relative;
        z-index: 10;
    }

    p {
        margin: 0 0 1.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        transition: $duration ease;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    button:not(.ui-button) {
        appearance: none;
        border: none;
        padding: 0;
        box-shadow: none;
        font-family: inherit;
        font-size: inherit;
        color: $color-base;
        background-color: transparent;
        cursor: pointer;
        user-select: none;
    }

    a, button {
        &:focus-visible {
            outline: 2px solid $color-accent;
            outline-offset: 3px;
        }
    }

    ::selection {
        background: $color-accent;
        color: $color-white;
    }
}

.js-preloader {
    .out__container {
        opacity: 0;
        transition: opacity .5s ease;
    }

    .js-loader {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        transition: $duration opacity;

        circle {
            fill: rgba(33, 33, 33, .1);
        }
    }

    &.is-visible .out__container {
        opacity: 1;
    }

    &.is-visible .js-loader {
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }
}

.out-section {
    padding-top: calc($space-section * .5);
    padding-bottom: calc($space-section * .5);

    &__title {
        margin: 0;
        text-align: center;
        font-size: $title-size;
        line-height: 1.1;
        font-weight: 700;
        font-family: $title-font-family;
    }
}

.discount-prize {
    display: flex;
    width: fit-content;
    padding: 3px 6px;
    background-color: #F83B1B;
    border-radius: 5px;
    font-size: 10px;
    line-height: 1.5;
    color: $color-white;
}

.title-custom {
    font-family: $custom-font-family;
    font-weight: 700;
    line-height: .8;
    letter-spacing: -.02em;
    text-transform: uppercase;
}

.title-prize {
    font-family: $custom-font-family;
    font-weight: 700;
    font-size: 21px;
    line-height: .9;
    letter-spacing: -.02em;
    text-transform: uppercase;
}

.custom-scroll {
    @supports (-moz-appearance: none) {
        scrollbar-width: thin;
    }

    @include media-min(mob) {
        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            border-left: 10px solid $color-white;
            background-color: $color-white;
            background-clip: padding-box;
            cursor: pointer;
            transition: $duration ease background-color;
        }

        .tabs__panes:hover &::-webkit-scrollbar-thumb {
            background-color: $color-accent;
        }

        &::-webkit-scrollbar-track {
            background: $color-white;
            border-left: 10px solid $color-white;
            border-right: 0 solid $color-white;
        }
    }
}
